ion-icon {
    font-size:3rem;
    color: white
}
body{
    text-align: center;
    color: white;
    background-color: #191829;
}
.navbar-padding{
    padding: 1rem
}
nav{
    background: #191829;
}
.nav-link{
    color: white
}
.nav-link:hover{
    color: gray
}

header{
    background-image: url("../images/image-header.jpg");
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    height: 90ex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text{
    margin-top: 0ex;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.last{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg);
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%)
}

.last-icon:hover{
    color: #3DD0D8;
    
}
.last-video{
    /* margin-top: 0ex;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.last-video iframe, .last-video object, .last-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.img-last{
    height: 28ex;
}


iframe{
    width: 40ex;
    height: 30ex;
}
.main-title{
    padding: 3rem;
}
.main-text{
    padding: 1.5rem;
}

.img-logo{
    width: 14ex;

}
.img-rol {
    border-radius: 50%;
    height: 10rem;
    filter: grayscale(100%);
}
.img-rol:hover{
    filter: grayscale(60%);  
}

.img {
    border-radius: 20%;
    height: 10rem;
    width: 10rem;
}
.img-game {
    border-radius: 10%;
    height: 10rem;
    /* width: 18ex; */
}
.img-carousel{
    border-radius: 50%;
    height: 14ex;
    filter: grayscale(100%);
}
.carousel-icon{
    margin-top: -5ex;
    text-align: right;
    font-size: 4ex;
}

.carousel-div{
    position: relative;
    z-index: 9;
    background-color: #1E1D32;
}
.carousel-div::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 85%;
    left: 0;
    background: #191829;
}
.carousel-h4{
    font-size: 1.8ex;
    font-weight: bold;
    color: #3DD0D8  
}   
.carousel-p{
    font-size: 2.5ex;
    margin-bottom: 0rem;
    padding: 2ex;
    padding-right: 8ex;
    padding-left: 8ex;
    padding-top: 2ex;
}

.icon{
    font-size: 5ex;
    text-align: right;
    color: rgba(245, 245, 245, 0.226)
}
.footer{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg);
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.footer-title{
    padding: 3rem;
}
.footer-footer{
    padding: 2rem;
}
.footer-div{
    /* background: rgba(0, 4, 255, 0.24); */
    /* padding: 0.8rem; */

    /* width: 100px; */
    height: 0;
    border-bottom: 10ex solid rgba(0, 4, 255, 0.24); 
    /* border-left: 2ex solid transparent; 
    border-right: 2ex solid transparent;  */
}

h2{
    font-size: 4ex
}
h3{
    color: white;
    font-size: 3ex;
}
h4{
    color: white;
    font-size: 2ex;
}
h4:hover {
    color: #3DD0D8
}
h5{
    color: #A8B7D9;
    font-size: 1.8ex;
}
h6{
    margin-bottom: 0ex;
    font-size: 1.6ex
}
p{
    font-style: oblique;
    color: #95A3C2;
}
