ion-icon {
    font-size:3rem;
    color: white
}
body{
    text-align: center;
    color: white;
    background-color: #191829;
}
.navbar-padding{
    padding: 1rem
}
nav{
    background: #191829;
}
.nav-link{
    color: white
}
.nav-link:hover{
    color: gray
}

header{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg);
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/LO0AO02BH7931533575177140.jpg);
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.main-title{
    padding: 3rem;
}
.main-text{
    padding: 1.5rem;
}

.img-logo{
    width: 14ex;

}
.img-rol {
    border-radius: 50%;
    height: 10rem;
    filter: grayscale(100%);
}
.img-rol:hover{
    filter: grayscale(60%);  
}

.img {
    border-radius: 20%;
    height: 10rem;
    width: 10rem;
}
.img-game {
    border-radius: 10%;
    height: 10rem;
    /* width: 18ex; */
}
.carousel-icon{
    text-align: right;
}
.icon{
    font-size: 5ex;
    text-align: right;
    color: rgba(245, 245, 245, 0.226)
}

.footer-title{
    padding: 3rem;
}
.footer-footer{
    padding: 2rem;
}

.footer-div{
    background: rgba(0, 4, 255, 0.24);
    padding: 0.8rem;
}


h2{
    font-size: 4ex
}
h3{
    color: white;
    font-size: 3ex;
}
h4{
    color: white;
    font-size: 2ex;
}
h4:hover {
    color: #3DD0D8
}
h5{
    color: #A8B7D9;
    font-size: 1.8ex;
}
h6{
    margin-bottom: 0rem;
    font-size: 1.7ex
}
p{
    font-style: oblique 
}
