ion-icon {
    font-size:3rem;
    color: white
}
body{
    text-align: center;
    color: white;
    background-color: #191829;
}
.navbar-padding{
    padding: 1rem
}
nav{
    background: #191829;
}
.nav-link{
    color: white
}
.nav-link:hover{
    color: gray
}

header{
    background-color: brown
}

.header-h1{
    font-size: 6ex
}
.header-h2{
    font-size: 5ex
}

.main-title{
    padding: 3rem;
}
.main-text{
    padding: 1.5rem;
}

.img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}
.commentary-icon{
    text-align: right;
}

.footer-title{
    padding: 3rem;
}
.footer-footer{
    padding: 2rem;
}

.footer-div{
    background: rgba(0, 4, 255, 0.075);
    padding: 0.8rem;
}

h6{
    margin-bottom: 0rem;
    font-size: 1.7ex
}